version: '3.9'
services:
  nuxt:
    image: baqdauled/kaynar-nuxt-app:pilot
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
    ports:
      - '3000:3000'
    restart: always